@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: 'itsdripping';
    src: url("It\'s\ Dripping\ ~.ttf");
}

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fcd900;
    margin: 0;
    font-size: 1em;

}

h1 {
    width: 100%;
    text-align: center;
}

header {
    height: 3.125em;
    background-color: #675c53;
    width: 100%;
    margin-bottom: 3%;
    position: relative;
}

header nav {
    display: none;
}

header>a {
    position: absolute;
    margin-left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    width: 1em;
}

header img#logo {
    width: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header button img {
    width: 1em;
}

header button {
    position: absolute;
    margin-left: 10%;
    color: white;
    background: none;
    border: none;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1em;
    font-weight: 600;
    padding: 3%;
}


input {
    -webkit-appearance: none;
}

main nav {
    width: 100%;
    position: fixed;
    height: 3.125em;
    background-color: #675c53;
    bottom: 0;
    z-index: 1;
}

main nav img {
    width: 1.3em;
    display: block;
    margin: 0 auto;
}



main nav ul {
    display: flex;
    height: 3.125em;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;

}

main nav li {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav ul :nth-child(2)::after{
    content: "";
    background-color: #e7772b;
    width: 0.4em;
    height: .4em;
    border-radius: 50%;
    position: absolute;
    margin-left: 1em;
    top: 0.6em;
    transition: 1s;
    opacity: 0;
}

.notify :nth-child(2)::after
{
    opacity: 1;
}

.active {
    background-color: #4a433e;
}

main {

    padding-bottom: 4em;
}

button:hover {
    cursor: pointer;
}

/* Filteraside */

#search fieldset {
    border: none;
}

#search legend {
    color: #e7772b;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

#search div {
    display: flex;
    /* todo: change color and thickness to #e7772b with javascript when the search input is focused. */
    border: solid #8d857e;
    border-width: 0 0 1.4px 0;
    padding-bottom: 2%;
}

#search div input[type="image"] {
    align-self: center;
}

#search button {
    background-image: url("img/icons/removeTXT.png");
    background-size: 1.25em 1.25em;
    height: 1.25em;
    width: 1.25em;
    border: 0;
    margin-left: 3%;
    background-color: white;
}



#overlay {
    position: fixed;
    /* De rede dat ik voor opacity kies is omdat display event listeners afkapt
    en ik hier een animatie op heb staan */
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(103, 92, 83, .3);
    z-index: 2;
    pointer-events: none;
    transition: opacity .1s;

}

aside {
    /* display: block; */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    border-radius: 25px;
    min-width: 22.75em;
    font-size: 1em;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: transform .9s;
    transition-timing-function: ease;
    z-index: 2;
}


#search {
    padding: 5% 0 3%;
    margin: 2% 2% 0 2%;
}

input[type=search] {
    font-size: 1.2em;
    font-weight: 300;
    border: none;
    color: #8d857e;
    outline: none;
    width: 80%;
}


input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


#category {
    background-color: #f7f4f1;
    padding: 0 2% 2% 2%;
    border-radius: 0 0 20px 20px;
}

#category ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

#category ul li {
    list-style: none;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 4%;
    overflow: hidden;
    font-weight: 500;
    position: relative;
    white-space: nowrap;

}

.tickbox {
    padding-left: 15%;
}

.tickbox:before {
    content: "";
    position: absolute;
    top: 15%;
    left: 3%;
    width: 1.25em;
    height: 1.25em;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #8d857e;
    -webkit-transition: border-color .2s ease-in;
    -o-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
}



input[type=checkbox]:checked+.tickbox:before {
    border: 2px solid #e7772b;
}

label:hover {
    cursor: pointer;
}

input[type=checkbox]+.tickbox:after {
    content: url("img/icons/checkmark.svg");
    width: 0.9375em;
    height: 0.9375em;
    transform: scale(0);
    /* het gaat helemaal mis met de formaten... zonder een scale word de afbeelding niet zichtbaar. */
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    top: 0.5625em;
    left: 0.5625em;
    position: absolute;

}

input[type=checkbox]:checked+.tickbox:after {
    transform: scale(1);

}

#category img {
    position: relative;
    left: 25%;
}

#category fieldset {
    border: 0;
}

#category legend {
    padding-top: 6%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

input[type="range"] {
    width: 100%;
}

input[type="range"]:hover {
    cursor: pointer;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #d6cec6;
    border: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    padding: 0.5625em 0.9375em;
    border-radius: 10px;
    margin-bottom: 4%;
}

/* einde filteraside */

/* section content */
section {
    background-color: white;
    padding: 5%;
    padding-top: 1%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    margin-left: auto;
    margin-right: auto;
    max-width: 35em;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8%;
    margin-block-end: 1em;
    font-size: 1.2rem;
}

section h2 {
    grid-column: span 2;
    padding-top: 2%;
}

section article {
    border-radius: 20px;
    background-color: #f7f4f1;
    text-align: left;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    position: relative;
}

.thumbnail {
    width: 100%;
    height: 7em;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}



section div.leestijd {
    position: absolute;
    top: 4%;
    left: 5%;
    background-color: #fff;
    padding: 2%;
    border-radius: 8px;
    font-size: .8em;

}

section div.leestijd img {
    vertical-align: top;
}

section div.like {
    position: absolute;
    bottom: 60%;
    right: 5%;
    background-color: #fff;
    padding: 2%;
    border-radius: 8px;
    font-size: .8em;
}

section div.like img {
    vertical-align: top;
    width: 1.125em;
}

section article button {
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: #fff;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
    border: none;
}

section article img {
    width: 1.25em;
    vertical-align: top;
}

section article button svg {
    width: 1.25em;
}

#login section {
    margin-left: auto;
    display: block;
    padding: 0;
    width: 95%;
    padding-top: 1%;
}



#login section svg {
    width: 1em;
    vertical-align: bottom;
    display: inline;
}

#login section fieldset {
    border: none;
}

#gelezen section{
    margin-left: auto;
    padding-top: 1%;
}

#bookmark section article{
    opacity: 0;
    transition: opacity .8s;
}

#bookmark section #loadingbar{
    border: .3em solid #f7f4f1; 
    border-top: .3em solid #e7772b; 
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    grid-column: span 2;
    animation: load 1.4s ease 2;
}

@keyframes load {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#bookmark section{
    margin-left: auto;
    padding-top: 1%;
}




#gelezen .like{
width: 1em;
fill: #00a450;
stroke: #00a450;
stroke-miterlimit: 10;
 stroke-width: .5px; 
}

#gelezen .dislike{
    fill: #f4232c;
    stroke: #f4232c;
    transform: rotate(180deg);
}

input[type=text] {
    background-clip: padding-box;
    font-size: .8em;
    font-weight: 300;
    border: none;
    border-bottom: 1px #8d857e solid;
    color: #8d857e;
    outline: none;
    max-width: 19.8em;
    width: 88%;
}

input[type=password] {
    background-clip: padding-box;
    font-size: .8em;
    font-weight: 300;
    border: none;
    border-bottom: 1px #8d857e solid;
    color: #8d857e;
    outline: none;
    max-width: 20em;
    width: 88%;
}

#login input[type=submit] {
    background-color: #e7772b;
    padding-left: 4%;
    padding-right: 4%;
}

#login section a {
    color: #2887c8;
    text-decoration: none;
    font-weight: 700;
}

#login section section {
    width: 100%;
    margin-block-end: 0;
    /* padding-top: 1%; */
    padding-bottom: 8%;
    border-radius: 0 0 20px 20px;
    background: #f7f4f1;
    margin-top: 3%;

}

#login section section h3 {
    padding-top: 4%;
    margin: 0;
}

#login section section p {
    text-align: left;
    display: inline-block;
    /* font-weight: lighter; */
    font-size: 0.9em;
    white-space: nowrap;
}

#login section section img {
    width: 1em;
    padding-right: 2%;
}

#login section section a {
    background-color: #675c53;
    border-radius: 10px;
    padding: 0.5625em 0.9375em;
    color: white;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1rem;
}

#verhaal header{
    margin-bottom: 0;
}

#verhaal section{
    margin-left: initial;
    margin-right: initial;
    display: block;
    padding: 0;
    width: 100%;
    padding-top: 1%;
    background-image: url("img/mainStory/background.svg");
    background-size: cover;
    background-position-x: center;
    color: white;
    font-family: 'itsdripping', Roboto;
    padding-bottom: 1%;
    border-radius: 0;
    margin-block-end: 0;
    max-width: initial;
    overflow: hidden;
}

#verhaal h2{
    animation-name: depressing;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    padding-bottom: 5%;
}

#verhaal section p{
    text-align: left;
    padding: 5%;
    padding-bottom: 0;
    padding-top: 2%;
}

#verhaal section section{
    border-radius: 20px;
    background: rgba(247, 244, 241, .8);
    width: fit-content;
    padding: 2.5%;
    transition: .4s;
    opacity: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#verhaal main{
    padding-bottom: 3.125em;
}

#verhaal .groen .duim{
        fill: #00a450;
    stroke: #00a450;
}

#verhaal .rood .duim{
        fill: #f4232c;
    stroke: #f4232c;
}

#verhaal #dislike .duim{
    /* fill: #f4232c;
    stroke: #f4232c; */
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

#verhaal .duim{
    transition: .4s;
}

#verhaal section button{
    background: none;
    border: none;
    color: black;
    font-family: Roboto;
    font-weight: bold;
    display: inline;
}
#verhaal section section svg{
    width: 2.4em;
    margin: 2%;
    display: inline;
}

#verhaal .rating{
    display: none;
}

#verhaal section div{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: none;
}

#verhaal section div h3{
    grid-column: span 2;
    font-family: Roboto;
    color: black;
}
#verhaal section a{
flex: 1 1 0;
padding: 2%;
}

#verhaal section  img{
flex: 1; 
width: 100%;
height: 80%;
}

#verhaal .cls-1{
    fill-opacity: 1;
    fill: #e7772b;
    stroke: none;
}



.cls-1 {
    transition: .8s;
    fill: none;
    stroke: #231f20;
    /* fill-opacity: 0; */
}

.bookmarked .cls-1 {
    fill: #e7772b;
    stroke: transparent;
    fill-opacity: 1;
}

#login .cls-1 {
    transition: initial;
    stroke: initial;
    fill: #8d857e;
    fill-opacity: initial;
}

article {
    margin-top: 1em;
    margin-bottom: 1em;

}

article p {
    font-size: 1rem;
    line-height: 1.375em;
    margin-left: 8%;
    margin-right: 8%;

    margin-bottom: 8%;
}

article a {
    color: #2887c8;
    font-size: .8em;
    float: right;
    margin-right: 10%;
    margin-bottom: 6%;
}


/* end section content */
@keyframes spin {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes load {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

.spinAnim{
    animation-name: spin;
    animation-duration: 2s;
}

@keyframes depressing {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(15deg);}
}

.depression{
    animation-name: depressing;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

@media (max-width: 30em) {
    section {
        grid-template-columns: 1fr;
    }

    section h2 {
        grid-column: initial;
    }
}

/* desktop media query */
@media (min-width: 60em) {
    main {
        display: flex;
    }

    main nav {
        display: none;
    }
    .spinAnim{
        transform-origin: 29% 55%;
    }
    header nav {
        width: 37%;
        height: 3.125em;
        background-color: #675c53;
        bottom: 0;
        margin-left: auto;
        z-index: 1;
        display: block;
    }

    header nav img {
        width: 1.3em;
        margin: 0 auto;
        vertical-align: bottom;
        padding-right: 10%;

    }

    header nav ul {
        display: flex;
        height: 3.125em;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        flex-direction: row;
        align-items: center;
    }

    header nav li {
        flex: 1;
        white-space: nowrap;
    }

    header button {
        display: none;
    }

    header>a {
        display: none;
    }

    header nav a {
        color: white;
        font-weight: 700;
        text-decoration: none;
    }

    header img#logo {
        left: 12%;
    }

    aside {
        display: inline-block;
        top: initial;
        transform: initial;
        position: initial;
        pointer-events: initial;
        justify-self: center;
        margin-left: auto;
        margin-right: 2%;
        align-self: flex-start;
        transition: none;
    }

    #overlay {
        display: none;

    }

    section {
        max-width: 31.43em;
        width: 55%;
        margin-left: 2%;
        grid-column-gap: 0;
    }


    #verhaal section{
        max-width: initial;
        width: 100%;
        margin-left: 0;
        padding-left: 28%;
        padding-right: 28%;
    }

    #verhaal main{
        padding-bottom: 0;
    }

    #gelezen section{
        width: 95%;
    }

    article {
        margin-inline-start: 1.5em;
        margin-inline-end: 1.5em;
    }

}