@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fcd900;
    margin: 0;
    font-size: 62.5%;


}

header {
    height: 50px;
    /* als ik 50 deel door 16 krijg ik 3.125em, maar dit is niet dezelfde voormaat als 50px. ik weet dat de body fontsize er iets mee te maken kan hebben?*/
    background-color: #675c53;
    width: 100%;
    margin-bottom: 3%;
}

main {
    display: flex;
    flex-direction: column;
}

/* Filteraside */

#search fieldset {
    border: none;
}

#search legend {
    color: #e7772b;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: left;
}

#search div {
    display: flex;
    /* todo: change color and thickness to #e7772b with javascript when the search input is focused. */
    border: solid #8d857e;
    border-width: 0 0 1.4px 0;
    padding-bottom: 2%;
    font-size: 1.6rem
}

#search div input[type="image"] {
    align-self: center;
}

#search button {
    background-image: url("img/icons/removeTXT.png");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    border: 0;
    margin-left: 3%;
    background-color: white;
}

aside {
    display: block;
    background-color: #fff;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    border-radius: 25px;
    width: 364px;
    /* ik vind het niet mooi als dit kan schalen, daarom kies ik in deze situatie voor px */
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}


#search {
    padding: 5% 0 3%;
    margin: 2% 2% 0 2%;
}

input[type=search] {
    font-size: 1em;
    font-weight: 300;
    border: none;
    color: #8d857e;
    outline: none;
    width: 80%;
}


input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}


#category {
    background-color: #f7f4f1;
    padding: 0 2% 2% 2%;
    border-radius: 0 0 20px 20px;
}

#category ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

#category ul li {
    list-style: none;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 4%;
    overflow: hidden;
    font-weight: 500;
    position: relative;
}

.tickbox {
    padding-left: 5%;
}

.tickbox:before {
    content: "";
    position: absolute;
    top: 15%;
    left: 3%;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    border: 2px solid #8d857e;
    -webkit-transition: border-color .2s ease-in;
    -o-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
}

input[type=checkbox]:checked+.tickbox:before {
    border: 2px solid #e7772b;
}

input[type=checkbox]+.tickbox:after {
    content: url("img/icons/checkmark.png");
    width: 20px;
    height: 20px;
    transform: scale(0);
    /* het gaat helemaal mis met de formaten... zonder een scale word de afbeelding niet zichtbaar. */
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    top: 0;
    left: 0;
    position: absolute;

}

input[type=checkbox]:checked+.tickbox:after {
    transform: scale(.025);

}

#category img {
    position: relative;
    left: 25%;
}

#category fieldset {
    border: 0;
}

#category legend {
    padding-top: 6%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

input[type="range"] {
    width: 100%;
}

input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #d6cec6;
    border: 0;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    padding: 9px 15px;
    border-radius: 10px;
    margin-bottom: 4%;
}

/* einde filteraside */

/* section content */
section {
    background-color: white;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4%;
    margin-block-end: 1em;
    font-size: 1.6rem;
}

section h1 {
    grid-column: span 2;
}

section article {
    border-radius: 20px;
    background-color: #f7f4f1;
    text-align: left;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    position: relative;
}

.thumbnail {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}



section div {
    position: absolute;
    top: 4%;
    left: 5%;
    background-color: #fff;
    padding: 2%;
    border-radius: 8px;
}

section div img {
    vertical-align: top;
}



section article button {
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: #fff;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
    border: none;
}

section article button img {
    vertical-align: top;
}

article {
    margin-block-start: 1em;
    margin-block-end: 1em;

}

article p {
    margin-left: 5%;
    margin-bottom: 5%;
}

/* end section content */


/* desktop media query */
@media (min-width: 60rem) {
    main {
        flex-direction: row-reverse;
    }

    aside {
        display: inline-block;
        align-self: flex-start;
    }

    section {
        min-width: 583px;
        width: 55%;
    }

    .sectionOffset {
        margin-left: 35vh;
    }

    article {
        margin-inline-start: 1.5em;
        margin-inline-end: 1.5em;
    }

}